In [1]:
import pandas as pd
df = pd.read_csv("conf.csv")

In [2]:
df.head()

,Unnamed: 0,image,y_pred,y_true
0,0,[[[ 0. 0. 0.]\n [ 0. 0. 0.]\n [ 0. 0. ...,5,5
1,1,[[[ 0. 0. 0.]\n [ 0. 0. 0.]\n [ 0. 0. ...,0,0
2,2,[[[ 0. 0. 0.]\n [ 0. 0. 0.]\n [ 0. 0. ...,4,4
3,3,[[[ 0. 0. 0.]\n [ 0. 0. 0.]\n [ 0. 0. ...,1,1
4,4,[[[ 0. 0. 0.]\n [ 0. 0. 0.]\n [ 0. 0. ...,9,9

In [4]:
a = df.image.values